@model ToDoListMVC.DAL.Item

@{
    ViewBag.Title = "To Do List - Create";
}

<h2>Create a new item</h2>
<hr />
<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Create" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>