@model ToDoListMVC.DAL.Item

@{
    ViewBag.Title = "To Do List - Details";
}

<h2>Item Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.CategoryId): @Html.DisplayFor(model => model.CategoryId)</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>