@model IEnumerable<ToDoListMVC.DAL.Item>

@{
    ViewBag.Title = "To Do List - Index";
}

<h2>To Do List</h2>
<hr />

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th></th>
    </tr>

    @foreach(var listItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listItem.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listItem.ItemId }) |
                @Html.ActionLink("Details", "Details", new { id = listItem.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>